doctype html
html
    head
        meta(charset="UTF-8")
        title Yay Trains‽
        link(href="/styles/combined.css", rel="stylesheet", type="text/css")
    body
        block content
        script(src="/scripts/combined.js")