extends layouts/master

block content
    nav#top-nav
        ul.periods
            li Yearly
            li Monthly
            li.selected Daily
            li Hourly
            li.now Now

    div#map

    script(src="/scripts/combined.js")