extends layouts/master

block content
    div.row
        h1 Locations

        article
            h2 London Bridge
            p 4 trains
            p 8 minutes late on average

        //- each location in locations
            //- p= location.locationName